#items{
    display: flex;
    gap:10%;
    width:50%;  
  }
  #items  p{
      font-size: 10px;
  }
  #bank{
    display: grid;
    gap:30px;
  }
  #container{
    border:1px solid black;
    height: 100px;
    width: 100px;
    margin-bottom: 30px;
  }
  #container img{
    width:100px;
  }
  #navbar{
    position: sticky;
    display: flex;
    justify-content: space-between;
    background-color: white;
    width: 100%;
    top:0px;
}
#size{
    
    font-size: 60px;
    font-family: Georgia, 'Times New Roman', Times, serif;
 }